<p id="notice"><%= notice %></p>

<p>
<strong>Your result is being generated and will be emailed when processed...</strong>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
